DAPHNE_HOST=localhost
DB_NAME=picodb
DB_USER=luizfneves
DB_PASSWORD=REDACTED_DB_PASSWORD
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
OPENAI_API_KEY=REDACTED_OPENAI_API_KEY
SECRET_KEY==REDACTED_SECRET_KEY
FIREBASE_JSON_SERVICE_KEY={xyz:xyz}
PEN_TO_PRINT_RAPIDAPI_KEY=xyz